.about-parent {
  width: 100%;
  height: auto;
  padding: 50px 0px;
  background-color: var(--white);
  .about-cont {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      text-align: center;
    }
  }
}

.journey-parent {
  width: 100%;
  height: auto;
  padding: 50px 0px;
  background-color: var(--lightgrey);

  .journey-cont {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: stretch;
    position: relative;

    .left,
    .right {
      width: 50%;
      height: 100%;

      .section {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px calc(var(--unit) * 4);
      }

      p {
        font-size: var(--unit);
        color: var(--black);
      }

      h2 {
        font-size: 100px;
        color: transparent;
        -webkit-text-stroke: 1px;
        -webkit-text-stroke-color: var(--black);
      }
    }

    .middle-line {
      height: 100%;
      width: auto;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      .line {
        width: 2px;
        height: 100%;
        background-color: var(--accent);
      }

      .circle {
        width: 20px;
        aspect-ratio: 1;
        background-color: var(--accent);
        border-radius: 50%;
        position: absolute;
        top: 15%;
        right: -468%;

        &:nth-child(2) {
          top: 50%;
        }
        &:nth-child(3) {
          top: 80%;
        }
      }
    }
  }
}

.artist-parent {
  width: 100%;
  height: auto;
  padding: 100px 0px;

  .heading-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    padding: calc(var(--unit) * 3) 0px;
  }

  .artist-cont {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--unit);

    .card {
      width: calc(100% / 4);
      aspect-ratio: 0.8;
    //   perspective: 1000px;
      border-radius: var(--unit);
    overflow: hidden;

      .card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
      
        
      }

      .frontcard,
      .backcard {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: var(--unit);
        overflow: hidden;

      }

      .frontcard {
        .overlay {
          width: 100%;
          height: 100%;
          background: linear-gradient(to bottom, transparent, var(--accent));
          display: flex;
          justify-content: center;
          align-items: flex-end;
          padding: var(--unit);

          h3 {
            color: var(--white);
            font-size: calc(var(--unit) * 2);
          }
        }
      }

      
      .backcard {
        background-color: #2980b9;
        color: white;
        transform: rotateY(180deg);
     


        .blur-overlay{
            height: 100%;
            width: 100%;
            background-color:rgba(0, 0, 0, 0.308);
            backdrop-filter: blur(5px);
            padding: var(--unit);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: var(--unit);

            p{
                color: var(--white);
            }

            .icons{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: var(--unit);

                a{

                    svg{
                        color: var(--white);
                    }
                }
            }
        }
      }



      &:hover .card-inner {
        transform: rotateY(180deg);
      }
    }
  }
}
