.footer-parent {
    height: auto;
    background-color: black;

    .footer-cont {
        height: 100%;
        display: flex;
        padding: 30px 20px;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 50px;

        img {
            width: 300px;
        }

        .nav-footer {
            display: flex;
            align-items: center;
            gap: 30px;

            a {
                color: var(--white);
                font-size: var(--unit);

                &:hover {
                    color: rgba(255, 255, 255, 0.473);
                    transform: var(--trans);
                }
            }
        }
    }
}

@media (max-width:1000px) {
    .nav-footer {
        flex-wrap: wrap !important;
        justify-content: center !important;
        gap: calc(var(--unit)) !important;
    }
}

@media (max-width:500px) {
    .footer-parent {

        .footer-cont {
            img {
                width: 200px !important;
            }
        }
    }
}