.kharadi-parent {
  height: auto;
  padding: 100px 0px;

  .kharadi-cont {
    display: flex;
    flex-direction: column;
    gap: calc(var(--unit));

    strong {
      font-weight: bold;
      color: var(--accent);
    }

    .heading-wrap {
      display: flex;
      flex-direction: column;
      gap: calc(var(--unit));

      h1 {
        font-size: 50px;
        font-weight: 600;
        text-align: center;
        color: var(--blue);
      }

      p {
        text-align: center;
      }
    }

    .hidden-sec {
      border: 1px solid rgba(0, 0, 0, 0.185);
      border-left: 4px solid var(--blue);
      padding: calc(var(--unit) * 1.5);
      border-radius: calc(var(--unit));
      display: flex;
      flex-direction: column;
      gap: calc(var(--unit));
    }

    .diff-Section {
      display: flex;
      flex-direction: column;
      gap: calc(var(--unit));

      .three-points-wrap {
        align-items: center;
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: calc(var(--unit));

        .box {
          padding: calc(var(--unit));
          border: 1px solid rgba(0, 0, 0, 0.185);
          border-radius: calc(var(--unit));
          display: flex;
          flex-direction: column;
          gap: calc(var(--unit) / 2);
        }
      }
    }

    .soulful-section {
      border: 1px solid rgba(0, 0, 0, 0.185);
      border-radius: calc(var(--unit));
      padding: calc(var(--unit));
      display: flex;
      gap: calc(var(--unit));
      flex-direction: column;
    }

    .ink-section {
      padding: calc(var(--unit));
      display: flex;
      gap: calc(var(--unit));
      flex-direction: column;
    }

    .border-section {
      border: 2px solid rgba(0, 0, 0, 0.185);
      padding: calc(var(--unit) * 1.5);
      border-radius: calc(var(--unit));
      font-style: italic;
    }

    .ideal {
      display: flex;
      flex-direction: column;
      padding: calc(var(--unit) * 1.5);
      gap: calc(var(--unit));

      .ul-li-wrap {
        display: flex;
        flex-direction: column;
        gap: calc(var(--unit));

        ul {
          display: flex;
          flex-direction: column;
          gap: calc(var(--unit) / 2);

          li {
            color: rgb(117, 116, 116);
            font-size: 14px;
          }
        }
      }
    }

    .direction-section {
      background: rgba(194, 194, 194, 0.144);
      padding: calc(var(--unit) * 1.5);
      border-radius: calc(var(--unit));
      display: flex;
      gap: calc(var(--unit));
      flex-direction: column;

      .direction-wrap {
        display: flex;
        flex-direction: column;
        gap: calc(var(--unit));

        .tag-wrap {
          display: flex;
          gap: calc(var(--unit) / 2);
          align-items: center;

          .tags {
            border-radius: 25px;
            border: 1px solid rgba(0, 0, 0, 0.185);
            padding: 8px 16px;
            width: fit-content;
          }
        }
      }
    }

    .final-section {
      border: 1px solid rgba(0, 0, 0, 0.185);
      padding: calc(var(--unit) * 1.5);
      border-radius: calc(var(--unit));
      display: flex;
      gap: calc(var(--unit));
      flex-direction: column;
    }
  }
}