.mini-about-section {
  width: 100%;
  height: auto;
  background-color: var(--white);
  padding: calc(var(--unit) * 3) 0px;

  .mini-about-cont {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: var(--unit);

    .left {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .right {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 50%;
      height: auto;
      gap: calc(var(--unit) * 2);

      .top {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: var(--unit);
      }

      .cta_btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: calc(var(--unit) / 3);

        .icons {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: calc(var(--unit));

          a {
            font-size: calc(var(--unit) + 5px);
            color: var(--black);
          }
        }
      }
    }
  }
}

.mini-gallery-parent {
  width: 100%;
  height: auto;
  padding: calc(var(--unit) * 4);
  background-color: var(--lightgrey);

  .mini-gallery-cont {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: stretch;
    gap: var(--unit);

    .left {
      width: 20%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .right {
      width: 80%;
      height: 100%;

      .swiper {
        height: 100%;
        width: 100%;
        padding: 50px 0px;
      }

      .gallery-swiperslide {
        width: calc(100% / 4);
        aspect-ratio: 0.8;


        .tatto-image {
          width: 100%;
          height: 100%;
          background-color: var(--accent);
          border-radius: var(--unit);
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
          padding: var(--unit);

          .tatto-name {
            color: var(--white);
            font-weight: 700;
          }
        }
      }
    }
  }

  .bottom-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px 0px 0px;
  }
}

.counter-parent {
  width: 100%;
  height: auto;
  background-color: var(--black);

  .counter-cont {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--unit);

    .right,
    .middle,
    .left {
      width: calc(100% / 4);
      aspect-ratio: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      .count {
        height: 100%;
        width: 100%;
        font-size: calc(var(--unit) * 10);
        color: var(--accent);
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        background-color: var(--black);
        padding: calc(var(--unit) / 4) 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--unit);
        color: var(--white);
        letter-spacing: 1px;
      }

      .countTitle {
        font-size: calc(var(--unit) * 2);
        color: var(--white);
        text-align: center;
        line-height: 110%;
        font-weight: 500;
      }
    }
  }
}

.testmonial-parent {
  width: 100%;
  height: auto;
  background-color: var(--white);


  .swiper {
    width: 100%;
    height: 100%;

    .testimoneal-parent {
      height: 100%;
      width: 100%;
      padding: 50px 0px;

      .slide-cont {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: calc(var(--unit) * 2);

        .heroheading {
          width: 80%;
          font-size: var(--unit);
          color: var(--black);
          text-align: center;
          line-height: 120%;
        }

        .test-con {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: var(--unit);

          .test {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: calc(var(--unit) / 2);

            .img {
              width: 80px;
              aspect-ratio: 1;
              border-radius: 50%;
              overflow: hidden;

              img {
                height: 100%;
                width: 100%;
              }
            }

            .stars {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: calc(var(--unit) / 3);

              svg {
                color: rgb(255, 174, 0);
              }
            }
          }
        }
      }
    }
  }
}

.place-visit-parent {
  width: 100%;
  height: auto;
  background-color: var(--lightgrey);

  .place-visit-cont {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;

    .left {
      width: 50%;
      height: 100%;
      border-right: 1px dotted var(--accent);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: var(--unit);
      padding: 50px 0px;


    }

    .right {
      width: 50%;
      height: 100%;
      padding: 50px 0px;
    }
  }
}


@media only screen and (max-width:800px) {
  .mini-about-section {

    .mini-about-cont {
      flex-direction: column !important;

      .left {
        width: 100%;
        aspect-ratio: 19/6 !important;


      }

      .right {
        width: 100% !important;
        align-items: center !important;

        .top {
          align-items: center !important;
        }
      }
    }
  }

  .mini-gallery-parent {
    padding: 10px !important;
  }

  .counter-parent {

    .counter-cont {

      .right,
      .left {
        .count {
          font-size: calc(var(--unit) * 6);
        }

        .text {}
      }
    }
  }
}

@media only screen and (max-width:400px) {
  .counter-parent {

    .counter-cont {

      .right,
      .left {
        .count {
          font-size: calc(var(--unit) * 4);
        }

        .text {
          font-size: 8px;
        }
      }

      .middle {
        h4 {
          font-size: 14px !important;
        }
      }
    }
  }
}

@media only screen and (max-width:650px) {
  .mini-gallery-parent {

    .mini-gallery-cont {
      flex-direction: column !important;

      .left {
        width: 100%;
      }

      .right {
        width: 100%;
      }
    }
  }
}