.mini-about-section {
  width: 100%;
  height: auto;
  background-color: var(--white);
  padding: calc(var(--unit) * 3) 0px;

  .mini-about-cont {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: var(--unit);

    .left {
      width: 50%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      .aboutvideo {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        video {
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 50%;
      height: auto;
      gap: calc(var(--unit) * 2);

      .top {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: var(--unit);
      }

      .cta_btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: calc(var(--unit) / 3);

        .icons {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: calc(var(--unit));

          a {
            font-size: calc(var(--unit) + 5px);
            color: var(--black);
          }
        }
      }
    }
  }
}

.mini-gallery-parent {
  width: 100%;
  height: auto;
  padding: calc(var(--unit) * 4);
  background-color: var(--lightgrey);

  .mini-gallery-cont {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: stretch;
    gap: var(--unit);

    .left {
      width: 20%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .right {
      width: 80%;
      height: 100%;

      .swiper {
        height: 100%;
        width: 100%;
        padding: 50px 0px;
      }

      .gallery-swiperslide {
        width: calc(100% / 4);
        aspect-ratio: 0.8;

        .tatto-image {
          width: 100%;
          height: 100%;
          background-color: var(--accent);
          border-radius: var(--unit);
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
          padding: var(--unit);

          .tatto-name {
            color: var(--white);
            font-weight: 700;
          }
        }
      }
    }
  }

  .bottom-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px 0px 0px;
  }
}

.counter-parent {
  width: 100%;
  height: auto;
  background-color: var(--black);

  .counter-cont {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--unit);

    .right,
    .middle,
    .left {
      width: calc(100% / 4);
      aspect-ratio: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      .count {
        height: 100%;
        width: 100%;
        font-size: calc(var(--unit) * 10);
        color: var(--accent);
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        background-color: var(--black);
        padding: calc(var(--unit) / 4) 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--unit);
        color: var(--white);
        letter-spacing: 1px;
      }

      .countTitle {
        font-size: calc(var(--unit) * 2);
        color: var(--white);
        text-align: center;
        line-height: 110%;
        font-weight: 500;
      }
    }
  }
}

.testmonial-parent {
  width: 100%;
  height: auto;
  background-color: var(--white);

  .swiper {
    width: 100%;
    height: 100%;

    .testimoneal-parent {
      height: 100%;
      width: 100%;
      padding: 50px 0px;

      .slide-cont {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: calc(var(--unit) * 2);

        .heroheading {
          width: 80%;
          font-size: var(--unit);
          color: var(--black);
          text-align: center;
          line-height: 120%;
        }

        .test-con {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: var(--unit);

          .test {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: calc(var(--unit) / 2);

            .img {
              width: 80px;
              aspect-ratio: 1;
              border-radius: 50%;
              overflow: hidden;

              img {
                height: 100%;
                width: 100%;
              }
            }

            .stars {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: calc(var(--unit) / 3);

              svg {
                color: rgb(255, 174, 0);
              }
            }
          }
        }
      }
    }
  }
}

.place-visit-parent {
  width: 100%;
  height: 300px;
  background-color: var(--lightgrey);

  .place-visit-cont {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;

    .left {
      width: 50%;
      height: 100%;
      border-right: 1px dotted var(--accent);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: var(--unit);
      padding: 50px 0px;


      .location {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .arc {
          width: 100%;
          height: 100%;
          background-image: url("../../assets/arc.png");
        }

        .loc-icon {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: calc(var(--unit) * 5);
          top: 0;
          transform: translateY(-35%);
          animation: topUp 5s infinite linear;

          @keyframes topUp {
            0% {
              transform: translateY(-35%);
            }

            50% {
              transform: translateY(-20%);
            }

            100% {
              transform: translateY(-35%);
            }
          }
        }
      }

    }

    .right {
      width: 50%;
      height: 100%;
      padding: 50px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: var(--unit);
      padding: 0px 10px;

      .righttext {
        font-size: calc(var(--unit) * 3);
        color: var(--accent);
        text-align: center;
      }
    }
  }
}


@media only screen and (max-width:800px) {
  .mini-about-section {

    .mini-about-cont {
      flex-direction: column !important;

      .left {
        width: 100%;
        aspect-ratio: 19/6 !important;
      }

      .right {
        width: 100% !important;
        align-items: center !important;

        .top {
          align-items: center !important;
        }
      }
    }
  }

  .mini-gallery-parent {
    padding: 10px !important;
  }

  .counter-parent {
    .counter-cont {

      .right,
      .left {
        .count {
          font-size: calc(var(--unit) * 6);
        }

        .text {}
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .counter-parent {
    .counter-cont {

      .right,
      .left {
        .count {
          font-size: calc(var(--unit) * 4);
        }

        .text {
          font-size: 8px;
        }
      }

      .middle {
        h4 {
          font-size: 14px !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 650px) {

  .counter-parent {
    .counter-cont {
      flex-direction: column !important;

      .right,
      .middle,
      .left {
        width: 100% !important;
        aspect-ratio: 4;
      }
    }
  }

  .mini-gallery-parent {

    padding: calc(var(--unit) * 2) !important;

    .mini-gallery-cont {
      flex-direction: column !important;
      gap: 0px !important;



      .left {
        width: 100%;

      }

      .right {
        width: 100%;
        height: 80% !important;

      }
    }

    .bottom-cont {

      padding: 10px 0px 0px 0px !important;
    }
  }

  .place-visit-parent {
    height: 500px;

    .place-visit-cont {
      flex-direction: column !important;

      .left {
        width: 100%;
        border-bottom: 1px dotted var(--accent);
        border-right: none !important;

        height: 50%;
        position: relative;

        .location {
          .loc-icon {
            font-size: calc(var(--unit) * 3);
          }
        }
      }

      .right {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .place-visit-parent {
    height: auto !important;
    padding: 20px 0px;

    .place-visit-cont {
      .left {
        height: 50%;

        .location {
          .arc {
            width: 50%;
            aspect-ratio: 1;
          }

          .loc-icon {
            font-size: calc(var(--unit) * 10);
          }
        }
      }

      .right {}

      .right {
        height: 50% !important;
        padding: 20px 0px;

        .righttext {
          font-size: calc(var(--unit)*2);
        }
      }
    }
  }

  .mini-about-section {
    .mini-about-cont {
      .left {
        aspect-ratio: 1 !important;
      }
    }
  }
}


@media only screen and (max-width: 400px) {
  .place-visit-parent {
    .place-visit-cont {

      .left {
        .visit-text {

          .linetext {
            font-size: calc(var(--unit)*2);
          }

          font-size: calc(var(--unit)*2);
        }
      }

      .right {
        .righttext {
          .right {

            .righttext {
              font-size: calc(var(--unit)*2);
            }
          }
        }
      }


      .loc-icon {
        font-size: calc(var(--unit) * 8) !important;
      }
    }
  }
}