.viman-parent {
  height: auto;
  padding: 100px 0px;

  .viman-cont {
    display: flex;
    flex-direction: column;
    gap: calc(var(--unit));

    h1 {
      font-size: 50px;
      font-weight: 600;
      text-align: center;
      color: var(--blue);
    }

    strong {
      font-weight: bold;
      color: var(--accent);
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: calc(var(--unit) / 2);

      li {
        color: rgb(117, 116, 116);
        font-size: 14px;
      }
    }

    .header-wrap {
      display: flex;
      flex-direction: column;
      gap: calc(var(--unit));
      padding: calc(var(--unit) * 1.5);
      border: 1px solid rgba(0, 0, 0, 0.185);
      border-radius: calc(var(--unit));
    }

    .personal {
      padding: calc(var(--unit) * 1.5);
      display: flex;
      flex-direction: column;
      gap: calc(var(--unit));
    }

    .meet {
      padding: calc(var(--unit) * 1.5);
      display: flex;
      flex-direction: column;
      gap: calc(var(--unit));
      border: 1px solid rgba(0, 0, 0, 0.185);
      border-left: 4px solid var(--blue);
      border-radius: calc(var(--unit));
    }

    .world {
      padding: calc(var(--unit) * 1.5);
      display: flex;
      flex-direction: column;
      gap: calc(var(--unit));
    }

    .steps {
      padding: calc(var(--unit) * 1.5);
      display: flex;
      flex-direction: column;
      gap: calc(var(--unit));
    }

    .choose {
      padding: calc(var(--unit) * 1.5);
      display: flex;
      flex-direction: column;
      gap: calc(var(--unit));
    }

    .stories {
      padding: calc(var(--unit) * 1.5);
      display: flex;
      flex-direction: column;
      gap: calc(var(--unit));
      border: 2px solid rgba(0, 0, 0, 0.185);
      padding: calc(var(--unit) * 1.5);
      border-radius: calc(var(--unit));
    }

    .location {
      padding: calc(var(--unit) * 1.5);
      display: flex;
      flex-direction: column;
      gap: calc(var(--unit));
    }

    .over {
      padding: calc(var(--unit) * 1.5);
      display: flex;
      flex-direction: column;
      gap: calc(var(--unit));
    }

    .final {
      padding: calc(var(--unit) * 1.5);
      display: flex;
      flex-direction: column;
      gap: calc(var(--unit));
    }

    .direction-section {
      background: rgba(194, 194, 194, 0.144);
      padding: calc(var(--unit) * 1.5);
      border-radius: calc(var(--unit));
      display: flex;
      gap: calc(var(--unit));
      flex-direction: column;

      .direction-wrap {
        display: flex;
        flex-direction: column;
        gap: calc(var(--unit));

        .tag-wrap {
          display: flex;
          gap: calc(var(--unit) / 2);
          align-items: center;

          .tags {
            border-radius: 25px;
            border: 1px solid rgba(0, 0, 0, 0.185);
            padding: 8px 16px;
            width: fit-content;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .viman-parent {
    .viman-cont {
      h1 {
        font-size: 35px;
      }

      .direction-section {
        .direction-wrap {
          .tag-wrap {
            gap: calc(var(--unit));
            .tags {
              padding: 4px 8px;
              font-size: 14px;
              font-weight: 300;
            }
            p {
              font-size: 14px;
              line-height: 18px;
            }
            a {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
