.service-parent {
  width: 100%;
  height: auto;
  padding: 30px 0px;

  .service-cont {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      text-align: center;
    }
  }
}

.ourservice {
  padding: 30px 0px;
  height: auto;

  .our-service-cont {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.service_parent {
  width: 100%;
  height: auto;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: var(--unit);
  .service-list {
    height: auto;
    padding: 30px 0px;

    background-color: var(--lightgrey);

    &:nth-child(even) {
      background-color: var(--black);

      .service-cont{
        flex-direction: row-reverse;

        .right{

          p{
            color: var(--white);
          }
        }
      }
    }
  }

  .service-cont {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: var(--unit);
 

    .service-photo {
      width: 30%;
      height: auto;
      border-radius: calc(var(--unit)/2);
    }

    .right {
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      p {
        width: 100%;
        padding: var(--unit);
        text-align: left;
        font-size: calc(var(--unit) - 3px);
        color: var(--black);
      }

      .tag-text {
        padding: var(--unit);
        border-radius: 0px var(--unit) 0px var(--unit);
        background-color: var(--white);
        color: var(--black);
      }
    }
  }
}

.faq-parent {
  width: 100%;
  height: auto;
  padding: 30px 0px;

  .faq-cont {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: calc(var(--unit) * 2);

    .left {
      width: 50%;
      height: auto;
      background-image: url("../../assets/faq_img.webp");
      background-position: top center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: calc(var(--unit) / 2);
    }

    .right {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: var(--unit);

      h5 {
        font-size: calc(var(--unit) * 2);
      }
      p {
        font-size: var(--unit);
      }

      .faq-list {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--unit);

        .faq {
          width: 100%;
          .heading {
            padding: calc(var(--unit) / 2);
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            background-color: var(--lightgrey);
            cursor: pointer;

            p {
              font-weight: 800;
              color: var(--black);
            }
            .icon {
              display: flex;
              justify-content: center;
              align-items: center;

              svg {
                color: var(--accent);
                font-size: calc(var(--unit) * 2);
                transition: var(--trans);
              }

              &.active {
                svg {
                  transform: rotate(180deg);
                }
              }
            }
          }

          .content {
            transition: var(--trans);
            border: none;
            overflow: hidden;
            height: 0px;

            &.active {
              height: fit-content;
              border: 1px solid var(--black);
              border-top: none;
              padding: calc(var(--unit) / 2);
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .faq-parent {
    .faq-cont {
      flex-direction: column;

      .left {
        width: 100% !important;
        aspect-ratio: 1;
      }

      .right {
        width: 100% !important;
      }
    }
  }
}
