.side-icons {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--unit);
    position: fixed;
    z-index: 999;
    right: 2%;
    bottom: 2%;


    .two-icon {
        width: 50px;
        aspect-ratio: 1;
        background-color: var(--accent);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--white);
        cursor: pointer;
        border: 1px solid var(--accent);
        transition: var(--trans);

        svg {
            font-size: calc(var(--unit)*1.4);
        }

        &:hover {
            border: 1px solid var(--accent);
            color: var(--accent);
            background: transparent;
        }
    }
}