.testimoneal-parent {
  padding: 30px 0px;


  .test-heading{
    text-align: center;
    padding: calc(var(--unit)) 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: calc(var(--unit));

    p{
      text-align: center;
    }
  }
  .testimoneal-cont {
    padding: var(--unit) 10px;
    .client-video {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      flex-wrap: wrap;
      gap: var(--unit);

      .video {
        width: 250px;
        height: 300px;
        background-color: var(--white);

        box-shadow: var(--shadow);
        padding: 0;
        overflow: hidden;
        border-radius: var(--unit);

        .video-section {
          width: 100%;
          height: 70%;
          position: relative;

          .react-video {
            position: absolute;
            top: 0;
            left: 0;

            video {
              height: 100%;
              width: 100%;
              object-fit: cover;
              object-position: top center;
            
            }
          }

        
        }

        .client_name {
            height: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
      }
    }
  }
}

.client_text{
  width: 100%;
  padding: 40px 0px;
  background-color: var(--black);
height: auto;

.text-cont{
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  h2{
    color: var(--accent);
  }
}

  .client_text_cont{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(var(--unit)*2);
    flex-wrap: wrap;

    .card{
      width: 400px;
      padding: 10px;
      border-radius: 30px 0px 30px 0px;
      height: auto;
      background-color: var(--white);

      p{
        
       span{
        padding: 10px;
       }
   
      }
    }
  }
}
