.swipe-text {
  width: 100%;
  overflow-x: hidden !important;
  font-size: 180px;


  h1 {
    width: 100%;
    height: fit-content;
    line-height: 100%;
    font-size: inherit;
    color: rgba(255, 255, 255, 0.122);
    position: absolute;
    top: 30%;
    right: 0;
    text-align: center;
    transform: translate(100%);
    z-index: 2;
    animation: wipeText 10s infinite linear;

    &.scondetxt {
      animation-delay: 4.8s;
    }

    // &.thirdtext {
    //     animation-delay: 15s;
    //     color: rgba(255, 255, 255, 0.122);
    // }

    @keyframes wipeText {
      0% {
        transform: translate(100%);
      }
      100% {
        transform: translate(-100%);
      }
    }
  }
}
