:root {
  --black: #1a1a1a;
  --white: #ffffff;
  --blue: #191825;
  --accent: #b8553a;
  --accent2: #d8bc9e;
  --text: rgb(107, 107, 107);
  --unit: 12px;
  --lightgrey: #6060604b;
  --grey: #606060;
  --max-width: 1200px;
  --trans: all 0.4s ease-in-out;
  --trans2: all 0.5s ease-out;
  --shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  --unit: 16px;
  --bg-color: #f3f7fc;
}

*::before,
*::after,
* {
  box-sizing: border-box;
  // border: 1px solid red;
  margin: 0px;
  font-family: "Poppins", sans-serif;
  line-height: 120%;

}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");



//custom fonts
@font-face {
  font-family: 'Intelo';
  src: local('Intelo Medium'), local('Intelo-Medium'),
    url('./fonts/Intelo-Medium.woff2') format('woff2'),
    url('./fonts/Intelo-Medium.woff') format('woff'),
    url('./fonts/Intelo-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Medium'), local('Intelo-Medium'),
    url('./fonts/Gilroy-Medium.ttf') format('woff2'),
    url('./fonts/Gilroy-Light.ttf') format('woff'),
    url('./fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}





body {
  width: 100%;
  overflow-x: hidden !important;
  font-weight: 700;
}

html {
  scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Gilroy';
}

p {
  text-align: justify;
  font-size: 1rem;
  line-height: 28px;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  color: var(--text);
  font-family: 'Intelo';

}

.bg-img-cover {
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.bg-img-contain {
  background-position: center center !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}

.parent {
  width: 100%;

  .cont {
    max-width: var(--max-width);
    margin: auto;
    padding: 0px 10px;
    height: 100%;
  }
}

a {
  text-decoration: none;
}

.btn {
  padding: var(--unit);
  background-color: var(--white);
  color: var(--black);
  border-radius: var(--unit);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: var(--trans);
  border: none;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 50%;
    background-color: var(--accent2);
    z-index: 2;
    transition: var(--trans);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: -100%;
    height: 100%;
    width: 60%;
    background-color: var(--accent2);
    z-index: 2;
    transition: var(--trans);
  }

  .btn_text {
    color: var(--black);
    position: relative;
    z-index: 3;
    transition: var(--trans);
  }

  &:hover {
    background-color: transparent;

    .btn_text {
      color: var(--black);
    }

    &::after {
      left: 0;
    }

    &::before {
      right: 0;
    }
  }
}

.btn2 {
  padding: var(--unit);
  background-color: var(--black);
  color: var(--white);
  border-radius: var(--unit);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: var(--trans);
  border: none;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 50%;
    background-color: var(--accent2);
    z-index: 2;
    transition: var(--trans);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: -100%;
    height: 100%;
    width: 60%;
    background-color: var(--accent2);
    z-index: 2;
    transition: var(--trans);
  }

  .btn_text {
    color: var(--white);
    position: relative;
    z-index: 3;
    transition: var(--trans);
  }

  &:hover {
    background-color: transparent;

    .btn_text {
      color: var(--black);
    }

    &::after {
      left: 0;
    }

    &::before {
      right: 0;
    }
  }
}

.heroheading {
  font-size: calc(var(--unit) * 5);
  color: var(--white);
  line-height: 100%;
}

.section-heading {
  width: fit-content;
  height: fit-content;
  position: relative;
  

  .linetext {
    font-size: calc(var(--unit) * 3);
    font-weight: 800;
    letter-spacing: 2px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: var(--black);
    color: transparent;
    opacity: 0.3;
  }

  .fill-text {
    font-size: calc(var(--unit) * 2);
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    text-align: center;
  }
}

.custom-prev {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-50%, 0);
  cursor: pointer;
  z-index: 2;

  svg {
    color: var(--accent);
    transform: rotate(90deg);
    font-size: 60px;
  }
}

.custom-next {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translate(-50%, 0);
  cursor: pointer;
  z-index: 2;

  svg {
    color: var(--accent);
    transform: rotate(-90deg);
    font-size: 60px;
  }
}

.custom-circle-prev {
  position: absolute;
  bottom: 0;
  left: 45%;
  transform: translate(0%, -50%);
  cursor: pointer;
  z-index: 2;
  width: 30px;
  aspect-ratio: 1;
  background-color: rgba(255, 68, 0, 0.693);

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    color: var(--white);
    transform: rotate(90deg);
    font-size: 20px;
  }
}

.custom-circle-next {
  position: absolute;
  bottom: 0;
  right: 45%;
  transform: translate(0%, -50%);
  cursor: pointer;
  z-index: 2;
  width: 30px;
  aspect-ratio: 1;
  background-color: rgba(255, 68, 0, 0.693);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    color: var(--white);
    transform: rotate(-90deg);
    font-size: 20px;
  }

  &:active {
    background-color: var(--accent);
  }
}

@media only screen and (max-width:800px) {
  .custom-circle-prev {
    left: 25%;
  }
}


@media only screen and (max-width:650px) {
  .custom-circle-prev {
    left: 35%;
  }
}


@media (max-width:500px) {
  .heroheading {
    font-size: calc(var(--unit) * 3);
  }
}

@media (max-width:900px) {
  .custom-prev {
    left: 10% !important;
  }

  .custom-next {
    right: 4% !important;
  }
}

@media (max-width:550px) {
  .custom-prev {
    left: 12% !important;
  

    svg {
      font-size: 50px !important;
      opacity: 0.7 !important;
    }
  }

  .custom-next {
    right: 2%;
 

    svg {
      font-size: 50px !important;
      opacity: 0.7 !important;
    }
  }

  .custom-circle-next {
    right: 40%;
  }

}

.linetext {
  font-size: calc(var(--unit) * 3);
  font-weight: 800;
  letter-spacing: 2px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--black);
  color: transparent;
  opacity: 0.5;
  text-align: center;
}